# Start a console container for testing, plus a postgres constainer

version: '2'
services:
  sitemkt-console:
    image: sitemkt
    user: camper
    working_dir: /home/camper/sitemkt
    volumes:
      - ../:/home/camper/sitemkt
      - ${HOME}/.sitemkt:/home/camper/.sitemkt
    stdin_open: true
    tty: true
    container_name: sitemkt-container
    environment:
      - PYTHONPATH=/home/camper/sitemkt

  sitemkt-postgres:
    image: postgres:latest
    ports:
     - 5433:5432
    volumes:
     - sitemkt-postgres:/var/lib/postgresql/data

volumes:
  sitemkt-postgres:
    external: true

